// src/mods/zoning-toolkit-panel.module.scss
// Floating, draggable Zone Tools panel styling.



.panel {
    // Must remove panel from local positioning (to avoid affecting other mod buttons)
    position: absolute;
    top: 50rem;
}

.panelToolModeRow {
    display: flex;
    flex-direction: row;
    // Ensure some minimum spacing between left/right columns
    padding-left: 16rem;
}


.panelHeader {
    /* Let vanilla UI handle font size and color */
    margin-bottom: 4rem;
    font-size: inherit; /* Ensures vanilla styling */
    color: inherit; /* Ensure color is handled by vanilla */
}

